.containerMensage{
    padding-left: 7rem;
    padding-bottom: 1rem;

    background-color:  rgba(255, 255, 255, 0.514);;
}
.containerMensage > p{
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    width: 90%;

    border-radius: 6px;
    border: 0.5px solid rgba(116, 116, 116, 0.126);
    
    background-color: white;
    color: rgba(0, 0, 0, 0.898);
}
.containerMensage > p:hover{
    background-color: rgba(195, 249, 255, 0.353);

    cursor: pointer;
}