*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 211, 211);
}
.App{
    width: 80%;
    
    margin: 5rem auto;
    padding: 0.5rem;

    background-color: rgb(255, 255, 255);


    border-radius: 6px;
}